
{% extends "school/base.html" %}


	{% block body %}
	<!-- banner -->
<!--
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short -->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<!-- about -->
	<div class="about-sec" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>A</span>bout
					<span>U</span>s
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="about-sub">
				<div class="col-md-6 about_bottom_left">
					<h4>Welcome to
						<span style="font-style: italic;">cHowTV </span>
					</h4>
					<p>We offer you the opportunity to tap from this reforming resource from modern tech innovators in
creating facilitating and engaging educational experiences yet to be explored from the four walls
of the classroom</p>
					<p>There is no denying the fact that the advancement on ininternet tectechnology has reshaped the
educational system. The web has rethought every educational material – from academics to skills
acquisition i.e courses like maths, physics, Botany to skills like social media marketing, ecommerce,
digital and physical marketing, financial market trading strategies and many more.</p>
					<a class="button-style" href="{% url 'join_course' %}">Join Now</a>
				</div>
				<!-- Stats-->
				<div class="col-md-6 about2-info">
					<img src="static/images/graduate.png" alt="" />
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- Achievements -->
	<div class="aitsresumethree">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>H</span>ow
					<span>W</span>e
					<span>A</span>chieve
					<span>T</span>his
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="load_more">
				<ul id="myList">
					<li class="aitsaitsresumewthreeli-1">
						<div class="l_g">
							<div class="l_g_r g_r">
								<div class="work">
									<div class="work-info">
										<div class="col-xs-6 work-grid work-left">
											<h4>See</h4>
										</div>
										<div class="col-xs-6 work-grid work-right">
											<h5>Content creation and sales operation</h5>
											<p>We hope to bring you powerful content updated regularly from
certified creators which would be targeting alot but mostly younger minds in reorienting their thought
process to produce a more productive society </p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="work-info">
										<div class="col-xs-6 work-grid work-right work-right2">
											<h4>How</h4>
										</div>
										<div class="col-xs-6 work-grid work-left work-left2">
											<h5>Skills sales</h5>
											<p>Also targeted at the ever rising final year and post graduate studies students we hope to
give them the opportunity to use our resources in research development getting questioned answered
and solving problems, creating thoughtful solutions by creating a platform where the could get involved
with people in their respective fields, interested creators, and idealists.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="work-info">
										<div class="col-xs-6 work-grid work-left">
											<h4>TV</h4>
										</div>
										<div class="col-xs-6 work-grid work-right">
											<h5 class="comp">Educational system and facilities</h5>
											<p>promoting the re-education re-orientation and tutoring of students
with enough resource materials like free e-books videos tutorial classes etc.
We would share a wide variety of services and skills we hope to build a community which can solve any
problem create solutions and learn. </p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //Achievements -->
	<!-- about-team -->
	<div class="team">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>F</span>aculties
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="team-row-agileinfo">
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="static/images/t1.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Proflamyt </h4>
							<p> lord Rhal </p>
							<div class="social-lsicon">
								<a href="https://twitter.com/proflamyt" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="https://facebook.com/cHowTv1" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="https://instagram.com/how_tv" class="social-button google">
									<span class="fa fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="static/images/t2.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Magmah </h4>
							<p>Co Worker</p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="static/images/t3.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Earl Tbam</h4>
							<p>Chief fu</p>
							<div class="social-lsicon">
								<a href="https://twitter.com/earl_tbam" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="https://facebook.com/tolu.akintayo9" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="https://instagram.com/earl_tbamy" class="social-button google">
									<span class="fa fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="static/images/t4.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Rhayne</h4>
							<p> Master Of Earth </p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-team -->
	<!-- middle section -->
	<div class="middle-sec-agile">
		<div class="container">
			<h4>See
				<span>How</span> TV </h4>
			<ul>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Select A Course You Like And Explore It!</h5>
						<p>heck Out Our Free Courses, you will love them.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Join Us on Social Plartform To Know More About Us!</h5>
						<p>We will Get You Entertained and Educated.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Get Enrolled And Start Better Future With Us!</h5>
						<p>Get Entertained and Educated.</p>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<a class="button-style" href="{% url 'join_course' %}">Join Now</a>
		</div>
		<div class="pencil-img">
			<img src="static/images/bg5.png" alt="" />
		</div>
	</div>
	<!-- //middle section -->
	<!-- news -->
		<div class="news" id="news">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span> E</span>vents
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="yaallahaa-news-grids-agile">
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color1">
								<a href="#" data-toggle="modal" data-target="#myModal">Refferal Contest</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-whatsapp" aria-hidden="true"></span> Two Weeks </p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Share Our WhatsApp invite Link For Rewards</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img1">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color2">
								<a href="#" data-toggle="modal" data-target="#myModal"> Join Our Space Talks </a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 6:00 am - 8:00 am</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-instagram" aria-hidden="true"></span>Instagram Live</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p> Join us live on intagram every saturday night.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img2">
							<div class="news-left-text color-event3">
								<h5>28 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color3">
								<a href="#" data-toggle="modal" data-target="#myModal"> Write up contests</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 10:00 am - 1:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-download" aria-hidden="true"></span> Here  </p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Upgrade Your Writing Skills And Win Prices .</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img3">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color4">
								<a href="#" data-toggle="modal" data-target="#myModal"> Hackaton </a>
							</div>
							<div class="date-grid">
								<div class="admin">
									
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Lagos.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>You Can Also Participate in Our Hackaton</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="title">c<span>How</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="model-img-info">
						<img src="static/images/1.jpg" alt="" />
						<p>
							You can reach us on our social media plartforms 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	

	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- stats numscroller-js-file -->
	<script src="static/js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->


	{% endblock %}