

    	{% extends "school/base.html" %}

{% block body %}

	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>Create Profile </li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>C</span>reate
					<span>P</span>rofile
				</h3>
				<div class="tittle-style">

				</div>
			</div>

			<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
			
			<div class="register-form">
				<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
					 {% csrf_token %}
				<div class="fields-grid">
				
						<label class="header">Profile Name</label>

						{{form.authorName}}
						

						<label class="header">Upload Profile Picture</label>


						{{ form.profile_image}}

							<div class="clearfix"> </div>
					</div>

						<label class="header">Your Favorite Book</label>


						<div class="styled-input agile-styled-input-top">
							
						<div class="col-md-12 dropdown ">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle='dropdown'>
						{{ form.favorite.label_tag }}	Novel
						<span class="caret"></span>							

							</button>
							<div class="dropdown-menu"> 
								<ul>
									<li>
										{{form.favorite }}
						</li>
								</ul>
						
					</div>
					</div>
					</div>

							<label class="header">About Me</label>
							
						
						{{form.about_me}}
					
					
								<input type="submit" value="Submit">
				</form>
							{% if not None %}
								{{ error }}
								{% endif %}
			</div>
		</div>
	</div>

	
	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- Calendar -->
	<link rel="stylesheet" href="static/css/jquery-ui.css" />
	<script src="static/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->
	{% endblock %}
