
<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
	<title>Course</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script src="{% static 'ok/js/jquery-2.2.3.min.js' %}"></script>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href=" {% static 'ok/css/bootstrap.css' %} "rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href=" {% static 'ok/css/single.css'%}">
	<link href=" {% static 'ok/css/style.css'%}" rel='stylesheet' type='text/css' />
	<link href=" {% static '/ok/css/fontawesome-all.css'%}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">



	    <!-- highlight.js-->
    <link rel="stylesheet" 
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js --><script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f20848dc8bb2900121bf68a&product=inline-share-buttons' async='async'></script>
</head>

	<!--Header-->


	<!--//header-->
<body>
	<!--Header-->

	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="{% url 'index' %}">
						<i class="fa fa-book"></i> cHowTV</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Welcome {{user.username}}</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						{% if user.profile %}
						<a href="{% url 'profile' user.profile.id %}">
							<i class="fas fa-user"></i> View Your Profile</a>

						
					</span>
					
				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="https://facebook.com/cHowTv1" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="https://twitter.com/cHowTv1" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="https://instagram.com/how_tv" class="dribble3 mx-2">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://api.whatsapp.com/+2348025729256" class="pin">
								<i class="fab fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ">
								<a class="nav-link" href="{% url 'index' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
			
						
					</ul>

					<form action="{% url 'display' %}" method="post" class="form-inline my-2 my-lg-0 header-search"> 	{% csrf_token %}
						<input class="form-control mr-sm-2" type="search" placeholder="Search Courses here..." name="bar" required="">
						<button class="btn btn1 my-2 my-sm-0" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>



				</div>
			</nav>

		</div>
	</header>



	{% block body %}
	
    {% endblock %}










{% include "school/footer.html"%}

	<!---->
	<!-- js -->
	
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src=" {% static 'ok/js/move-top.js' %}  "></script>
	<script src=" {% static 'ok/js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src=" {% static 'ok/js/bootstrap.js' %}"></script>



</script>

</body>

</html>


