<!DOCTYPE html>
<html  lang="en">
  
{% load static %}

<head>
    <title>{{ book.title | title }}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500%7CAbril+Fatface">
    <link rel="stylesheet" href="{% static 'prod/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'prod/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'prod/css/style.css' %}" id="main-styles-link">
     <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>    	 

 
  </head>
  <body>
    <div class="preloader">
      <div class="bookshelf-wrapper">
        <ul class="books-list">
          <li class="book-item first"></li>
          <li class="book-item second"></li>
          <li class="book-item third"></li>
          <li class="book-item fourth"></li>
          <li class="book-item fifth"></li>
          <li class="book-item sixth"></li>
        </ul>
        <div class="shelf"></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="80px" data-xl-stick-up-offset="80px" data-xxl-stick-up-offset="80px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{% url 'index' %}"><img class="brand-logo-dark" src="{% static 'aline/images/logo.png' %}" alt="" style="width: 130px; height: 40px;" /></a> </div><span>Welcome {{user.username}} </span>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'index' %}">Home</a>
                      </li>
                      
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'about' %}">About us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contact' %}">Contact Us</a>
                      </li>
                     
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'user_profile' %}">Profile</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">
              

                        </ul>
                      </li>
                      
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">

                        	 {% if user.profile %}
                          <li class="rd-dropdown-item">  <a  class="rd-dropdown-link" href="{% url 'profile' user.profile.id %}">
                            <i class="fa fa-user"></i> View Profile </a> </li>
                             {% else %}
                         

                            	    {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="rd-navbar-collapse">
                  <ul class="rd-navbar-contacts-4">
                    <li><span class="icon mdi mdi-phone"></span><span class="link-wrap"><a class="phone" href="tel:#">+234 80-2572-9256</a></span></li>
                   
                    <li><span class="icon mdi mdi-map-marker"></span><span class="link-wrap"><a class="address" href="#">lagos, Nigeria</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>







  {% block body %}
  
    {% endblock %}












            <footer class="section section-md footer-creative footer-creative-2 context-dark">
        <div class="container">
          <div class="row row-60 justify-content-center justify-content-md-between">
            <div class="col-sm-8 col-md-5 col-lg-3">
              <h3 class="footer-creative-title oh-desktop"><span class="d-inline-block wow slideInDown">Get In Touch</span></h3>
              <ul class="footer-creative-contacts d-inline-block d-md-block">
                <li class="wow fadeInRight">
                  <p class="footer-creative-contacts-title">Free consultation</p><a class="phone" href="tel:2348025729256">+234 8025 7292 56</a>
                </li>
                <li class="wow fadeInRight" data-wow-delay=".05s">
                  <p class="footer-creative-contacts-title">Address</p><a class="address" href="#">Lagos, Nigeria</a>
                </li>
                
              </ul>
              <hr/>
              <ul class="list-inline footer-social-list footer-social-list-2">
                <li><a class="icon mdi mdi-facebook" href="https://facebook.com/cHowTv1"></a></li>
                <li><a class="icon mdi mdi-twitter" href="https://twitter.com/cHowTv1"></a></li>
                <li><a class="icon mdi mdi-instagram" href="https://instagram.com/how_tv"></a></li>
                <li><a class="icon mdi mdi-whatsapp" href="https://wa.me/+2348025729256"></a></li>
              </ul>
            </div>
            <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
              <h3 class="footer-creative-title oh-desktop"><span class="d-inline-block wow slideInDown">Posts</span></h3>
              <div class="list-popular-post">
                <div class="list-popular-post-item wow fadeInRight">
                  <!-- Post Minimal-->
                  <article class="post post-minimal post-minimal-2">
                    <div class="unit unit-spacing-2 align-items-center flex-column text-center flex-sm-row text-sm-left">
                      <div class="unit-left"><a class="post-minimal-figure" href="{% url 'index' %}"><img src="/static/prod/images/post-1-115x89.jpg" alt="" width="115" height="89"/></a></div>
                      <div class="unit-body">
                        <p class="post-minimal-title"><a href="{% url 'index'  %}"> Checked out our courses yet ?  {{ user.get_username }}</a></p>
                        <div class="post-minimal-time">
                          
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="list-popular-post-item wow fadeInRight">
                  <!-- Post Minimal-->
                  <article class="post post-minimal post-minimal-2">
                    <div class="unit unit-spacing-2 align-items-center flex-column text-center flex-sm-row text-sm-left">
                      <div class="unit-left"><a class="post-minimal-figure" href="{% url 'index' %}"><img src="/static/prod/images/post-2-115x89.jpg" alt="" width="115" height="89"/></a></div>
                      <div class="unit-body">
                        <p class="post-minimal-title"><a href="{% url 'about' %}">We offer you the opportunity to tap from this reforming resource from modern tech innovators in....</a></p>
                        <div class="post-minimal-time">
                         
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <p class="wow fadeInRight">Sign up today for tips and latest news</p>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform rd-form-inline rd-form-inline-sm wow fadeInUp" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="/newsletter/ola/subscribe/">{% csrf_token %}
                <div class="form-wrap">
                  <input class="form-input"  type="email" name="email_field" id="id_email_field"  for="id_email_field"  data-constraints="@Email @Required"/>
                  <label class="form-label" for="subscribe-form-2-email">Enter your E-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-sm button-icon-2 button-primary button-winona" type="submit"><span class="icon mdi mdi-telegram"></span></button>
                </div>
              </form>

            </div>
            <div class="col-sm-10 col-md-12 col-lg-3 col-xl-3">
              <div class="oh-desktop">
                <div class="inset-left-xl-20 wow slideInLeft"><a class="brand" href="{% url 'index' %}"><img src="{% static 'aline/images/logo-white.png' %}" alt="" width="187" height="45"/></a>
                  <p>Providing access to the best books for children and adults.</p>
                  
                  <!-- Rights-->
                  <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>cHowTV</span><span>.&nbsp;</span></p>
                </div>
              </div>
              <div class="bg-footer-creative"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f20848dc8bb2900121bf68a&product=inline-share-buttons' async='async'></script>
    <script src="{% static 'prod/js/core.min.js' %}"></script>
    <script src="{% static 'prod/js/script.js' %}"></script>
  <!-- End Google Tag Manager --></body>


</html>