{% extends "school/baseprod.html" %}

{% block body %}
{% load ratings %}
{% load static %}
      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom bg-image" style="background-image: url({% static 'prod/images/bg-breadcrumbs.jpg' %});">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">{{ book.title|title}} </h1>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'index' %}">Home</a></li>
          
            <li class="active">{{ book.title }}</li>
          </ul>
        </div>
      </section>
      <!-- Single Product-->
      <section class="section section-sm section-first bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-6">
              <div class="slick-vertical slick-product">
                <!-- Slick Carousel-->
                <div class="slick-slider carousel-parent" data-swipe="true" data-items="1" data-child="#child-carousel-6" data-for="#child-carousel-6">
                  <div class="item">
                    <div class="slick-product-figure"><img src="{{ book.bookImage.url }}" alt="" style="width: 530px; height: 480px" />
                    </div>
                  </div>
                 
                 
                </div>
              
              </div>
            </div>
            <div class="col-lg-6">
              <div class="single-product">
                <h2>{{ book.title| title }}</h2>
                <div class="group-md group-middle">
                  <div class="single-product-price">{% if book.premium %} premium {% else %} free {% endif %}</div>
                  <div class="single-product-rating">
                    {% ratings book %}
                  </div>
                </div>
                {% if book.summary %}
                <p>{{ book.summary| safe }}</p>

                {% else %}

                <p>
                  Poem or Short Story 
                </p>

                {% endif %}
                <hr class="hr-gray-300">
                <ul class="list list-description d-inline-block d-md-block">
                  <li><span>Categories:</span> {% for genres in book.genre.values %}<span>{{ genres.name }}</span> {% endfor %}</li><br>
                  
                  <li><span>Author:</span><span>{{ book.author }}</span></li>
                </ul>
                <div class="group-lg group-middle">

                  {% if story %}
                 <div><a class="button button-lg button-primary button-winona" href="{% url 'read' book.slug %}">Read Story</a></div>
                 {% else %}
                  <div><a class="button button-lg button-primary button-winona" href="{% url 'about_books' book.id %}">Read</a></div>

                  {% endif %}
                </div>
                <hr class="hr-gray-300">
              
              </div>
            </div>
          </div>
          <!-- Bootstrap tabs-->
         
        </div>
      </section>

      <!-- Related Products-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <h2>Related Products</h2>
          <div class="row row-lg row-30">
            {% if related %}
            {% for books in related %}

            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Product-->
              <article class="product">
                <div class="product-figure"><img src="{{ books.bookImage.url }}" alt="" style="width: 195px; height: 173px" />
                </div>
                <div class="product-rating">{% ratings books%}
                </div>
                <h5 class="product-title">{{ books.title|title}}</h5>
                <div class="product-price-wrap">
                 
                </div>


                <div class="product-button">
                  <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="{% url 'about_books' books.id %}">Read</a></div>
                  <div class="button-wrap"><a class="button button-xs button-default button-winona" href="{% url 'details' 'book' books.id %}">Check Details</a></div>
                </div>

                
              </article>
            </div>


            {% endfor %}
            {% endif %}


          </div>
        </div>
      </section>

      <!-- Page Footer-->
{% endblock %}