{% extends "school/base.html" %}

{% block body %}
{% load static %}
{% load crispy_forms_tags %}

<h3 class="tittle">
					<span>C</span>aptivate
					<span>Y</span>our <span>R</span>eders
					
				</h3>
				<div class="tittle-style">
					<br>
					<br>
					<br>

					<strong>  <h4 class="text-center"> <i class="fa fa-book"></i> Write </h4>   </strong>

				</div>
<br><br><br>
<div class="register-form" style="width: 70%">

<form action= {% if instance %} "{% url 'editnovella' instance.id %}" {% else %}"{% url 'create' %}" {% endif %} method="post" class="text-center border border-light ">

{{ form.media }}

{% csrf_token %}

{{ form |crispy }}	

<div class="text-center">
	
<input type="submit" class="btn btn-primary " value="Submit">	
</div>

{% if error != None %}
{{ error }}
{% endif %}

</form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- stats numscroller-js-file -->
	<script src="static/js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>{% endblock %}
