<!--

	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "school/baseok.html" %}
{% block body %}

	<!--//header-->
	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'index' %}">Home</a>
		</li>
		<li class="breadcrumb-item active">Course</li>
	</ol>

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">

			<div class="row">
				<!--left-->
					

	<!--/main-->
	{% if novel %}
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle"><span>C</span>ourse <span>R</span>elating to '{{name}}'</h3>
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">
						
						{% for book in novel %}
						<div class="col-lg-4 card">
							<a href="{% url 'index' %}">
								<img src="{{book.bookImage.url}}" class="card-img-top img-fluid" alt="">
							</a>
							<div class="card-body">
								<ul class="blog-icons my-4">
							</ul>
								<h5 class="card-title">
									
								</h5>
									{% if popular.premium == False %}
								<p class="card-text mb-3">Free</p>
								{% else %}
								<p class="card-text mb-3">Premium </p>

								{% endif %}
								<a href="{% url 'join' book.id %}" class="btn btn-primary read-m"> <i class="fa fa-download"></i> Check Course</a>
							</div>
						</div>
					{% endfor %}




					{% else %}

						<h3 class="tittle" style="float: left;"><span>N</span>o <span>C</span>ourse <span>R</span>elating to '{{name}}'</h3>
						{% endif %}
					




	

					</div>
				
		{% if novel.has_other_pages %}
						<nav aria-label="Page navigation example">
							<ol class="pagination justify-content-left mt-4">
								{% if novel.has_previous %}
								<li class="page-item ">
									<a class="page-link" href="?page = {{novel.previous_page_number }}" tabindex="-1">Previous</a>
								</li>
								{% else %}
							
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								{% endif %}

								{% for i in novel.paginator.page_range %}
									{% if novel.number == i %}
								<li class="page-item active">
								<a class="page-link" href="#" >{{i}}</a>
								</li>
								{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{ i }}">{{i}}</a>
								</li>

								{% endif %}
								{% endfor %}


								{%  if novel.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{novel.next_page_number}}">Next</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{novel.paginator.num_pages}}">Last</a>
								</li>
								{%else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" >Next</a>
								</li>
								{% endif %}
							</ol>
							{% endif %}
						</nav>
					
				</div>
			</div>
		</div>
	</section>
















	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle"> <span>P</span>opular <span>C</span>ourses</h3>
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">
						{% for popular in top %}

						<div class="col-lg-4 card">
							
								<img src="{{ popular.bookImage.url }}" class="card-img-top img-fluid" alt="">
							
							<div class="card-body">
							
								<h5 class="card-title ">
									<a href="{% url 'about_books' popular.id %}">{{ popular.course_name.sel}}</a>
								</h5>
								{% if popular.premium == False %}
								<p class="card-text mb-3">Free</p>
								{% else %}
								<p class="card-text mb-3">Premium </p>

								{% endif %}
								<a href="{% url 'join' popular.id  %}" class="btn btn-primary read-m"> <i class="fa fa-download"></i> View Course </a>
						</div>
						</div>
						{% endfor %}

					</div>
					{% if top.has_other_pages %}
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-left mt-4">
								{% if top.has_previous %}
								<li class="page-item ">
									<a class="page-link" href="?page = {{top.previous_page_number }}" tabindex="-1">Previous</a>
								</li>
								{% else %}
							
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								{% endif %}

								{% for i in top.paginator.page_range %}
									{% if top.number == i %}
								<li class="page-item active">
								<a class="page-link" href="#" >{{i}}</a>
								</li>
								{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{i|urlencode }}">{{i}}</a>
								</li>

								{% endif %}
								{% endfor %}


								{%  if top.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{top.next_page_number}}">Next</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{top.paginator.num_pages}}">Last</a>
								</li>
								{%else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" >Next</a>
								</li>
								{% endif %}
							</ul>
							{% endif %}
						</nav>
					</div>

					<!--//left-->
				</div>
			</div>
		</div>
	</div>
	</section>




	{% endblock %}




































