{% extends "school/base.html" %}


	{% block body %}

	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>Gallery</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<!-- Gallery -->
	<div class="gallery">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur <span>G</span>allery
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="agileinfo-gallery-row">
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g7.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g7.jpg" alt="" title="Our Library" />
						<div class="agile-figcaption">
							<h4>Facts</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g9.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g9.jpg" alt="" title="Volleyball Sports" />
						<div class="agile-figcaption">
							<h4>Science</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g3.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g3.jpg" alt="" title="Our Computer Lab" />
						<div class="agile-figcaption">
							<h4>Technology</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g4.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g4.jpg" alt="" title="Meditation" />
						<div class="agile-figcaption">
							<h4>Books And Novels</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g1.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g1.jpg" alt="" title="Science" />
						<div class="agile-figcaption">
							<h4>Science</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g6.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g6.jpg" alt="" title="Group Discussion" />
						<div class="agile-figcaption">
							<h4>Tutorials</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g2.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g2.jpg" alt="" title="Chemical Lab" />
						<div class="agile-figcaption">
							<h4> WhatsApp TV </h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g5.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g5.jpg" alt="" title="Our Sports" />
						<div class="agile-figcaption">
							<h4>History </h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="static/images/g8.jpg" class="imghvr-hinge-right figure">
						<img src="static/images/g8.jpg" alt="" title="Our Excellent Seminar" />
						<div class="agile-figcaption">
							<h4>Entertainment</h4>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //Gallery -->


	<!--/footer -->

	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- simple-lightbox -->
	<script type="text/javascript" src="static/js/simple-lightbox.js"></script>	
	<script>
		$(function () {
			var gallery = $('.agileinfo-gallery-row a').simpleLightbox({
				navText: ['&lsaquo;', '&rsaquo;']
			});
		});
	</script>
	<link href='static/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<!-- Light-box css -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

	{% endblock %}