
{% extends "school/base.html" %}



{% block body %}

{% load static %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="eh7ilqzZ"></script>

	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h6>Welcome To cHowTV </h6>
						<h3>Leading
							<span>Educational </span>TV
						</h3>
						<p2>Build On The Knowledge You already Have.</p2>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h6>Welcome To cHowTV</h6>
						<h3>Most Popular
							<span>Educational</span>TV
						</h3>
						<p>Read and Upload Novels , Go Viral.</p>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h6>Welcome To cHowTV</h6>
						<h3>We Can
							<span>Teach</span> You</h3>
						<p>Join Our Courses </p>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h6>Welcome To cHowTV</h6>
						<h3>Most Popular
							<span>Educational</span> TV
						</h3>
						<h4 style="color: white; font-style: bold; "> Dinosaurs Did Not Read, Look What Happend To Them.</h4> 
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
	<!--//banner -->
	<!-- about -->
	<div class="banner-bottom-w3l" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>W</span>elcome
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="welcome-sub-wthree">
				<div class="col-md-6 banner_bottom_left">
					<h4>About
						<span style="font-style: italic;"> cHowTV</span>
					</h4>
					<p>  We are a team of academicians here to help facilitate the sharing and exchange of skills and knowledge
amongst the popular ever rising youths . .   </p>
					<p> Now we bring to you a platform where teachers and students the skilled and unskilled can meet to learn
and attain skills we would be offering a wide variety of knowledge base classes to help facilitate the
unending pursuit of educational development and skills pursuit.</p>
				</div>
				<!-- Stats-->
				<div class="col-md-6 stats-info-agile">
					<div class="col-xs-6 stats-grid stat-border">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='768' data-delay='.5' data-increment="1">768</div>
						<p>Novels</p>
					</div>
					<div class="col-xs-6 stats-grid">
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='678' data-delay='.5' data-increment="1">678</div>
						<p>Courses</p>
					</div>
					<div class="clearfix"></div>
					<div class="child-stat">
						<div class="col-xs-6 stats-grid stat-border border-st2">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='800' data-delay='.5' data-increment="1">800</div>
							<p>Tutors</p>
						</div>
						<div class="col-xs-6 stats-grid">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='485' data-delay='.5' data-increment="1">485</div>
							<p>Authors</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>S</span>ervices
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="services-moksrow">
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-bullhorn icon" aria-hidden="true"></span>

						<h4> <a href="{% url 'courses' %}" >Popular Courses </a> </h4>
						<p > Learn Something New , Add To Your Knowledge</p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-certificate icon" aria-hidden="true"></span>
						<h4> <a href="{% url 'courses' %}"> Certification </a> </h4>
						<p>Earn A Certificate In Courses You'd Love</p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-book icon" aria-hidden="true"></span>
						<h4><a href=""> Novel </a> </h4>
						<p>Check Out The Novels From Our Best Authors</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-moksrow">
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-users icon" aria-hidden="true"></span>
						<h4><a href="{% url 'courses' %}">Best Teachers </a> </h4>
						<p>Get Lectured By The Best Tutors in The Field </p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-bus icon" aria-hidden="true"></span>
						<h4><a href="{% url 'courses' %}"> A New Beginning </a></h4>
						<p>What makes you special ? ..................</p>
					</div>
				</div>
				<div class="col-xs-4 services-grids-w3l">
					<div class="servi-shadow">
						<span class="fa fa-laptop icon" aria-hidden="true"></span>
						<h4><a href="{% url 'courses' %}">Excellent Lab</a> </h4>
						<p>Start By Reading Online , Check Out new books you'd love them </p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- news -->
	<div class="news" id="news">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur &nbsp;
					<span> E</span>vents
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="yaallahaa-news-grids-agile">
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color1">
								<a href="#" data-toggle="modal" data-target="#myModal">Refferal Contest</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-whatsapp" aria-hidden="true"></span> Two Weeks </p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Share Our WhatsApp invite Link For Rewards</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img1">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color2">
								<a href="#" data-toggle="modal" data-target="#myModal"> Join Our Space Talks </a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 6:00 am - 8:00 am</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-instagram" aria-hidden="true"></span>Instagram Live</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p> Join us live on intagram every saturday night.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img2">
							<div class="news-left-text color-event3">
								<h5>28 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color3">
								<a href="#" data-toggle="modal" data-target="#myModal"> Write up contests</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 10:00 am - 1:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-download" aria-hidden="true"></span> Here  </p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Upgrade Your Writing Skills And Win Prices .</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img3">
							
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color4">
								<a href="#" data-toggle="modal" data-target="#myModal"> Hackaton </a>
							</div>
							<div class="date-grid">
								<div class="admin">
									
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Lagos.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>You Can Also Participate in Our Hackaton</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal -->
	<br>
	<br>
	<br>
	<br>
	<!-- //modal -->
	<!-- //news -->
	<!-- middle section -->
	<div class="middle-sec-agile">
		<div class="container">
			<h4>See
				<span>How</span> TV</h4>
			<ul>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Select A Course You Like And Explore It!</h5>
						<p>Check Out Our Free Courses, you will love them.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Join Us On Our Other Plartforms!</h5>
						<p>We will Get You Entertained and Educated</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Get Enrolled And Start Better Future With Us!</h5>
						<p>Get Entertained and Educated </p>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<a class="button-style" href="{% url 'join_course' %}">Join Course</a>
			<a class="button-style" href="">Upload Novel</a>
		</div>
		<div class="pencil-img">
			<img src="static/images/bg5.png" alt="" />
		</div>
	</div>
	<!-- //middle section -->
	<!-- testimonials -->
		<div class="testimonials">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur &nbsp;
					<span> T</span>utors
					
				</h3>
				<div class="tittle-style">

				</div>
			</div>
						<ul id="flexiselDemo1">
				
					 {% for author in authors %}
					 <li>
					<div class="three_testimonials_grid_main">
						<div class="col-xs-3 three_testimonials_grid_pos">
							<div class="grid-test-allah-agile">
								<img src="{{ author.profile_image.url }}" style="border-radius: 50%; height: 100px; width: 100px; object-fit: cover;"  alt=" " class="img-responsive" />
							</div>
						</div>
						<div class="col-xs-9 three_testimonials_grid">
							<div class="three_testimonials_grid1">
								<h5> &nbsp; &nbsp; <a href="{% url 'profile' author.id %}" class="btn btn-default"> Author: {{ author.authorName|title }} </a></h5>
								  <p>&nbsp;Favorite Books: </p>
								  <br>
							  	{% for i in author.favorite.values %} 
									
						

									{% if i.title %}
									
									<ul>
								  <br>
								  <br> <br>
										
									
										&nbsp;&nbsp;<a href="{% url 'about_books' i.id %}" style = "color: #FEB103; " class="btn btn-default"> {{ i.title }} </a> 
								
							
									</ul>
									
									{% endif %}
									{% endfor %}

								 
							</div>
							<p>
								{{ author.about_me }}
							</p>
						</div>
						<div class="clearfix"> </div>

					</div>
					</li>
					{% endfor %} 
				
				
					
				

			</ul>
		</div>
	</div>
</div>

</div>

	</div>
		<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" style="font-style: italic;">c<span>How</span>TV
					</h4>
				</div>
				<div class="modal-body">
					<div class="model-img-info">
						<img src="static/images/1.jpg" alt="" />
						<p>
							You can reach us on our social media plartforms 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	 //testimonials -->
	<!-- footer -->
	
	<!-- js files -->
	<!-- js -->
	<script src=" {% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	
	<script src="{% static 'js/numscroller-1.0.js' %}"></script>
	<!-- //stats numscroller-js-file -->

	<!-- Flexslider-js for-testimonials -->
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 1
					},
					tablet: {
						changePoint: 768,
						visibleItems: 1
					}
				}
			});

		});
	</script>
	<script src="{% static 'js/jquery.flexisel.js'%}"></script>
	<!-- //Flexslider-js for-testimonials -->
	<!-- smooth scrolling -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

	{% endblock %}

