{% extends "school/base.html" %}

{% block body %}

	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>Join Us</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>C</span>ourse
					<span>A</span>dmission
					<span>F</span>orm

				</h3>

				<div class="tittle-style">
					<br>
					<br>
					<br>

					<strong>  <h4 class="text-center"> <i class="fa fa-gear"></i> Register To Access Our Courses </h4>   </strong>

				</div>
			</div>
			<div class="register-form">
				<form action="{% url 'join_course' %}" method="post">
					 {% csrf_token %}
				<div class="fields-grid">
				
						{{ form.name}}

						{{form.date}}

					<div class="styled-input agile-styled-input-top">
						{{form.gender}}

						</div>
						<br>
						


						{{form.Phone}}
						<br>
						<br>
						<div class="col dropdown ">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle='dropdown'>
						{{form.coursess.label_tag }}	
						<span class="caret"></span>							

							</button>
							<div class="dropdown-menu"> 
						{{ form.coursess }}
						
					</div>
					</div>
					<br>
					<br>

						<div class="agileits_w3layouts_grid">

						{{form.category1}}

						</div>
						<br>
							
						{{form.city }}	
						
					
						<div class="clearfix"> </div>
					</div>
								<input type="submit" value="Submit">
				</form>
				{% if error is not None%}
								{{ error }} 
								{% endif %}
			</div>
		</div>
	</div>

	
	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- Calendar -->
	<link rel="stylesheet" href="static/css/jquery-ui.css" />
	<script src="static/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->
	{% endblock %}