{% extends "school/base.html" %}

{% block body %} 

{% load static %}}
<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				{% if cancel %}

				<h3 class="tittle">
					<span>C</span>ancel
					<span>S</span>ubscription
				</h3>



			</div>
<div class="register-form">
<form method='post' {% if cancel %} action="{% url 'cancel' %}" {% endif %} >

{% csrf_token %}
{{ cancel.as_p  }}
<br>
<br>

<input type="submit" value="Submit">
</form>
</div>
				{% else %}
				<h3 class="tittle">
					<span>F</span>ogot
					<span>P</span>assword
				</h3>

				<div class="tittle-style">

				</div>
			</div>

<form method='post' >

{% csrf_token %}
{{ form.as_p  }}
<br>
<br>

<input type="submit" value="Submit">
</form>
{% endif %}

</div>
</div>




  <script src=" {% static 'js/jquery-2.1.4.min.js' %}"></script>
  <!-- bootstrap -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  
  <script src="{% static 'js/numscroller-1.0.js' %}"></script>

{% endblock  %}
