{% extends 'school/base.html' %}

{% block body %}
 <br><br><br>
  <p style="text-align: center;">

    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
 <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

<a class="button-style" style="justify-content: center; margin: 0 auto ;" href="{% url 'index' %}"> go back home </a>


<br><br><br><br><br><br><br><br><br>
 <br><br><br><br><br><br><br><br><br>

{% endblock %}
