


{% extends "school/base.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'profile/profile.css' %}">
<style>
p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}
</style>
<!------ Include the above in your HEAD tag ---------->
</head>
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>Profile</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<!-- blog -->
	<div class="blog-cource">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>P</span>rofile
					<span>D</span>etails
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			
               <div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{ profile.profile_image.url }}"  name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{ profile.authorName }}</h3>
        <em>click my face for more ....<a class="facebook" href="https://twitter.com/{{profile.instagram}}">
									<span class="fa fa-facebook"></span>
									
								</a>&nbsp;<a class="facebook" href="https://instagram.com/{{profile.twitter}}">
									<span class="fa fa-twitter"></span>
									
								</a></em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{ profile.authorName }}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{ profile.profile_image.url }}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">{{ profile.authorName }} <small>Nigeria</small></h3>
                    <span><strong>	Favorite books: </strong></span>
                    {% for book in favorite %}

                        <a href="{% url 'file' book.id|urlencode %}"> <span class="label label-warning">{{  book.title }}</span></a>
                        
                         {% endfor %}
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        {{profile.about_me}} </p>
                    <br>
                    </center>
                    <a class="facebook" href="https://twitter.com/{{profile.instagram}}">
									<span class="fa fa-facebook"></span>
									
								</a>&nbsp;<a class="facebook" href="https://instagram.com/{{profile.twitter}}">
									<span class="fa fa-twitter"></span>
									
								</a>
                </div>

                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about {{ profile.authorName }}</button>
                    	{% if user.profile == profile %}
                  <button type="button" class="btn btn-default">

							<a href="{% url 'edit' %}">Edit Profile </a>
						</button>
							{% endif %}
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
           
            <div style="text-align: center;">
            	<a class="button-style btn-default" href="{% url 'upload' %}">Upload Book</a>
            </div>
            
        </div>
						
				</div>
		
		
				
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				
			
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
			


				<!-- END MENU -->
			
	<script src=" {% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	
	<script src="{% static 'js/numscroller-1.0.js' %}"></script>
       
		
	{% endblock %}