{% extends "school/baseprod.html" %}

{% block body %}
{% load ratings %}
      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom bg-image" style="background-image: url(static/prod/images/bg-breadcrumbs.jpg);">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">Project Page</h1>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li class="active">Project Page</li>
          </ul>
        </div>
      </section>
      <!-- Project Page-->
      <section class="section section-lg bg-default text-md-left">
        <div class="container">
          <div class="row row-60 flex-lg-row-reverse">
            <div class="col-lg-6 col-xl-7">
              <div class="slick-project">
                <!-- Slick Carousel-->
                <div class="slick-slider carousel-parent" data-arrows="true" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-7" data-for="#child-carousel-7" data-slide-effect="true">
                  <div class="item"><img src="{{ story.bookImage.url }}" alt="" width="670" height="477"/>
                    <div class="slick-project-caption">
                      <div class="slick-project-title">Photo #1</div>
                    </div>
                  </div>
                
                </div>
            
              </div>
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-primary table-project">
                  <tbody>
                    <tr>
                      <td><span class="icon icon-26 mdi mdi-account"></span></td>
                      <td><span>Author(s):</span><a href="{% url 'profile' story.author.id %}">{{story.author.authorName | title }} </a> &nbsp;&nbsp;&nbsp;&nbsp; {% if user.profile == story.author %}

      <a href="{% url 'editnovella' story.id %}">Edit</a>

    {% endif %}</td>
                    </tr>
                    
                    <tr>
                      <td><span class="icon mdi mdi-map-marker"></span></td>
                      <td><span>Location:</span> Nigeria </td>
                    </tr>
                    <tr>
                      <td><span class="icon icon-28 mdi mdi-cash"></span></td>
                      <td><span>Rate:</span> {% ratings story %}  </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-6 col-xl-5">
              <div class="project-page">
                <h2>{{ story.title |title }}</h2>
                
                <p>{{ story.story | safe }}</p>
                <div class="group-sm group-middle"><span class="project-page-social-title">Share</span>
                  <div>
                    <ul class="list-inline project-page-social-list">
                      <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div><a class="button button-lg button-primary button-winona" href="contacts.html">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
{% endblock %}