<!DOCTYPE html>

<html lang="en">

{% load static %}
{% load ratings %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cHowTv - Book </title>
    <link rel="stylesheet" href="{% static 'aline/css/loader/loaders.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/font-awesome/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'aline/css/responsive.css' %}">
   <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<style type="text/css">
	.filter-tabs li {
	font-size: 14px;
}
.author-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #fff url("{{ author.profile_image.url }}") no-repeat center;
  background-size: cover;
  margin: 30px auto 0;
  position: relative;
}
.banner-inner {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(static/images/1.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/static/images/1.jpg) no-repeat center;
	background-size: cover;
	min-height: 230px;
}
</style>

<body>

    <!-- Loader Start Here -->
    <div class="css-loader">
        <div class="ball-pulse d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End Here -->
    <!-- Header Start Here -->
    <header>
    		<div class="banner-inner">

	</div>
        <div class="header-container">

            <div class="container">


                <div class="logo d-flex"> 
                    <a href="{% url 'index' %}" class="d-inline-block m-auto"><img src="{% static 'aline/images/logo.png' %}" alt="cHowTv"></a>
                </div>
                <nav class="d-flex justify-content-between align-items-center main-nav"> <strong><h6 style="font-style:italic;font-weight: 800; color: #FEB103;" class="d-inline-block"><i class="fa fa-book"> </i>cHow TV</h6></strong>
                    <a href="#" class="menu-icon"><i class="fa fa-align-center"></i></a>
                    <ul class="nav main-menu justify-self-center text-uppercase d-none d-md-flex">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                       
                        <li class="nav-item">
                        	{% if user.profile %}
						<a class="nav-link" href="{% url 'profile' user.profile.id %}">
							View Your Profile</a>

						{% else %}
						<a class="nav-link" href="{% url 'author' %}">
							 Become an Author</a>
						
						{% endif %}
                          
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'upload' %}">Upload Book</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                        </li>
                    </ul>
                    <div class="nav cart-login">
                       
                                    {% if user.profile %}
                        <a  class="login" href="{% url 'profile' user.profile.id %}">
                            <i class="fa fa-user"></i> <small>View Profile </small></a>

                        {% else %}
                        <a class="login" href="{% url 'author' %}">
                            <i class="fa fa-user"></i> <small>Become an Author </small>  </a>
                        
                        {% endif %}
                        
                    </div>
                </nav>
            </div>
            <div class="offcanvas">
                <a href="#" class="close"><i class="fa fa-close"></i></a>
                <nav class="d-md-none">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">Pages</a>
                        </li>
                        <li>
                            <a href="{% url 'create' %}">Write</a>
                        </li>
                        <li>
                            <a href="{% url 'upload' %}">Upload Books</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">contact</a>
                        </li>
                    </ul>
                </nav>
                <address class="d-none d-md-block">
                    <img src="{% static 'aline/images/logo-white.png' %}" alt="cHowTv">
                    current author : <a style="color: black;" href="{% url 'profile' author.id %}">{{ author.authorName|title }}</a>
                    <br>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

								{% if user.profile %}

								<a class="dropdown-item" href="{% url 'profile' user.profile.id %}"><span> <i class="fas fa-lock"></i> </span> Author : {{ user.profile.authorName }} </a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'edit' %}"> Edit Your Profile </a>
			
								{% else %}
								<a class="dropdown-item" href="{% url 'author' %}"><span> <i class="fas fa-lock"></i> </span>Create Your Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'upload' %}"><span> <i class="far fa-user"></i> </span> Upload</a>
								{% endif %}
							</div>
                    <br>
                    {{ author.about_me}}<br>
                    
                </address>
                <div class="social-link d-none d-md-block">
                  
                    <a href="twitter.com/{{ author.twitter}}"><i class="fa fa-twitter"></i></a>
                              
                    <a href="instagram.com/{{ author.instagram }}"><i class="fa fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>
    </header>
    <!-- Header End Here -->
    <main>
        <!-- Slider Start Here -->
        

	


        <!-- Slider End Here -->
        <!-- Banner Start Here -->
        <section class="banner">
            <div class="container">
                <div class="search text-center">
                    <h4>Find the Latest Book.......</h4>
                    <form action="{% url 'download' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="bar" placeholder="Enter Author Name">
                    </form>
                </div>



          
                <div class="row">
                    <div class="col-lg-4">
                        <div class="special-offer">
                            <img src="{% static 'aline/images/special-offer.png' %}" alt="Special Offer">
                            <h4>{{ top.0.title|title }}</h4>
                            <small>By</small>
                            <h3>{{ top.0.author }}</h3>
                            <p>{{ top.0.summary|safe| truncatewords:10 }}
                            </p>
                            <a href="#">Read <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="best-sell">
                                    <img src="{% static 'aline/images/special-sell.jpg' %}" alt="Special Sell">
                                    <div class="banner-content">
                                        <p>Best seller Books<a href="#">Read <i class="fa fa-angle-right"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-book">
                                    <img src="{% static 'aline/images/featured-book.jpg' %}" alt="Featured Book">
                                    <div class="banner-content">
                                        <p>Featured Books</p>
                                        <a href="#">Read <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters summer-sale">
                            <div class="col-md-5 content-overlay">
                                <div class="banner-content">
                                    <p class="text-uppercase">{{ top.1.title|title }} <span class="text-capitalize"></span>
                                    </p>
                                    <a href="#">Read <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-7 summer-sale-img">
                                <img src="{% static 'aline/images/summer-sale.jpg' %}" alt="Summer Sale">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Banner End Here -->
        <!-- Book Tab Start Here -->
        {% if top or story  %}
        {% if not novel %}
        <div class="products-tab text-center">
            <div class="container">
                <ul class="filter-tabs nav justify-content-center" >
                    <li data-filter="all" class="active">All</li>
                    <li data-filter="best-selling">Best Selling</li>
                    {% for genres in genre %}
                    <li data-filter="{{genres}}">{{genres}}</li>
                    {% endfor %}
                </ul>
                <div class="row">

                    <div class="filtr-container">

                        {% for popular in top %}

                        <div class="filtr-item col-sm-6 col-md-4 col-lg-3" data-category="best-selling,  {% for ola in popular.genre.values %} {{ola.name}}, {% endfor %} "
                            data-sort="value">
                            <div class="single-book" data-aos="fade-up" data-aos-delay="100">
                                <img src="{{ popular.bookImage.url }}" style="width: 179px;height: 209px;"  alt="Book 1">
                                <div class="book-btn d-flex justify-content-center">
                                   <a href="{% url 'details' 'book' popular.id %}"><i class="fa fa-book"></i></a>
                                    <a href="{% url 'about_books' popular.id %}"><i class="fa fa-external-link"></i></a>
                                </div>
                                <div class="book-info">
                                    <div class="price">{% ratings popular %}</div>
                                    <h4>{{ popular.title | title }}</h4>

                                    <h6>By <span>{{ popular.author.authorName }}</span></h6>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

{% if story %}
                        {% for book in story %}
                        <div class="filtr-item col-sm-6 col-md-4 col-lg-3" data-category="best-selling ,{% for ola in popular.genre.values %} {{ola.name}}, {% endfor %}" data-sort="value">
                            <div class="single-book" data-aos="fade-up" data-aos-delay="200">
                                <img src="{% static 'aline/images/book-2.png' %}" alt="Book 1">
                                <div class="book-btn d-flex justify-content-center">
                                           <a href="{% url 'details' 'story' book.id %}"><i class="fa fa-book"></i></a>
                                    <a href="{% url 'read' book.slug %}"> <i class="fa fa-external-link"></i></a>
                                </div>
                                <div class="book-info">

                                    <div class="price">{% ratings book %}</div>
                                    <h4>{{ book.title | title}}</h4>
                                    <h6>By <span> <a href="{% url 'profile' book.author.id %}"> {{ book.author.authorName }} </a></span></h6>
                                </div>
                            </div>
                        </div>



{% endfor %}
                        {% endif %}
                       
                       
                       
                      


                    </div>
                </div>
               


                {% if top.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-left mt-4">
                                {% if top.has_previous %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page = {{top.previous_page_number }}" tabindex="-1">Previous</a>
                                </li>
                                {% else %}
                            
                                    <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                {% for i in top.paginator.page_range %}
                                    {% if top.number == i %}
                                <li class="page-item active">
                                <a class="page-link" href="#" >{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page={{ i }}">{{i}}</a>
                                </li>

                                {% endif %}
                                {% endfor %}


                                {%  if top.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{top.next_page_number}}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{top.paginator.num_pages}}">Last</a>
                                </li>
                                {%else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" >Next</a>
                                </li>
                                {% endif %}
                            </ul>
                            
                        </nav>{% endif %}





            </div>
        </div>{% endif %}{% endif %}
        <!-- Book Tab End Here -->
        <!-- Review Start Here -->
        <div class="review">
            <div class="container position-relative">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8">



                        <div class="swiper-container review-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide text-center">
                                    <p>“Love reading nigerian books here .”</p>
                                    <span>olawale olamide - <span>Reader</span></span>
                                </div>
                                <div class="swiper-slide text-center">
                                    <p>“Well i think the authors can do better ”</p>
                                    <span>earl tbam - <span>Reader</span></span>
                                </div>
                                <div class="swiper-slide text-center">
                                    <p>“READ it helps”</p>
                                    <span>Count lamxy - <span>Reader</span></span>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="control-btn swiper-button-next">N<br>E<br>X<br>T</div>
                <div class="control-btn swiper-button-prev">P<br>R<br>E<br>V</div>
            </div>
        </div>
        <!-- Review End Here -->
        <!-- Blog Start Here -->
        <section class="blog">
            <div class="container">
                <h2 class="title text-center">Featured Author </h2>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="swiper-container post-slider">
                            <div class="swiper-wrapper">


                                <div class="swiper-slide">
{% if author.favorite %}


                                   
	{% for i in author.favorite.values %} 

                                    <div class="single-post" data-aos="fade-left">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="/book/{{i.bookImage }}"
                                                    alt="The Bookshop Events Are Coming?" class="w-100">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="categories text-uppercase">
                                                   Favorite Book
                                                </div>
                                                <h2 class="post-title">{{ i.title| title }}
                                                </h2>
                                                <div class="meta">
                                                    {{ i.date_uploaded }}
                                                    
                                                    
                                                </div>
                                                <p> {{ i.summary|safe| truncatewords:10 }} </p>
                                                <div class="more-share">
                                                    <a href="{% url 'file' i.id|urlencode %}" class="more">READ MORE <i
                                                            class="fa fa-angle-right"></i></a>
                                                    <img src="{% static 'aline/images/zigzag.png' %}" alt="Zigzag">
                                                    SHARE
                                                    <a href="#" class="share"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="share"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="share"><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

{% endfor %}


{% endif %}


                                </div>


                              





                               



                            </div>
                            <!-- Add Control -->
                            <div class="swiper-paginations"></div>
                        </div>
                    </div>

                    	 
                    <div class="col-xl-3 single-post swiper-slide" data-aos="fade-right">
                        <div class="best-author text-center swiper-slide">
                            <h2>Author</h2>
                            <div class="author-pic"></div>
                            <a style="color: black;" href="{% url 'profile' author.id %}">{{ author.authorName|title }}</a>
                            <p>{{ author.about_me }}</p>
                            <h6>Follow Me</h6>
                            <ul class="nav justify-content-center">
                              
                                <li><a href="twitter.com/{{ author.twitter}}"><i class="fa fa-twitter"></i></a></li>
                              
                                <li><a href="instagram.com/{{ author.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </section>
        <!-- Blog End Here -->
        <!-- Instafeed Start Here -->
        <div class="swiper-container instafeed-slider">
            <div id="instafeed" class="swiper-wrapper">
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta1.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta2.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta3.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta4.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta5.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta6.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta1.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta2.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta3.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta4.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta5.jpg' %}" alt="Instagram" /></a></div>
                <div class="swiper-slide"><a href="#"><img src="{% static 'aline/images/insta6.jpg' %}" alt="Instagram" /></a></div>
            </div>
        </div>
        <!-- Instafeed End Here -->
        <!-- Social Link Start Here -->
        <div class="social">
            <div class="container">
                <div class="swiper-container social-slider">
                    <div class="swiper-wrapper d-flex justify-content-between">
                        <a class="swiper-slide" href="https://facebook.com/cHowTv1"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="swiper-slide" href="https://twitter.com/cHowTv1"><i class="fa fa-twitter"></i> Twitter</a>
                        <a class="swiper-slide" href="https://wa.me/+2348025729256"><i class="fa fa-whatsapp"></i> WhatsApp</a>
                        <a class="swiper-slide" href="https://instagram.com/how_tv"><i class="fa fa-instagram"></i> Instagram</a>
                
                    </div>
                </div>
            </div>
        </div>
        <!-- Social Link End Here -->
    </main>
    <!-- Footer Start Here -->
    <footer>
        <div class="foot-top">
            <div class="container">
                <div class="logo d-flex">
                    <a href="{% url 'index' %}" class="d-inline-block m-auto"><img src="{% static 'aline/images/logo.png' %}" alt="cHowTv"></a>
                </div>
                <nav class="d-flex justify-content-center align-items-center main-nav">
                   <ul class="nav main-menu justify-self-center text-uppercase d-none d-md-flex">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        
                        <li class="nav-item">
                        	{% if user.profile %}
						<a class="nav-link" href="{% url 'profile' user.profile.id %}">
							View Your Profile</a>

						{% else %}
						<a class="nav-link" href="{% url 'author' %}">
							 Become an Author</a>
						
						{% endif %}
                          
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'upload' %}">Upload Book</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
       
    </footer>
    <!-- Footer End Here -->
   <script src="{% static 'aline/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'aline/js/bootstrap.js' %}"></script>
    <script src="{% static 'aline/js/swiper.min.js' %}"></script>
    <script src="{% static 'aline/js/aos.js' %}"></script>
    <script src="{% static 'aline/js/loaders.css.js' %}"></script>
    <script src="{% static 'aline/js/jquery.filterizr.min.js' %}"></script>
    <script src="{% static 'aline/js/main.js' %}"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-65003908-1');
</script>

</body>


</html>