<!--

	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load ratings %}
<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
	<title>Books</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href=" {% static 'ok/css/bootstrap.css' %}"rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href=" {% static 'ok/css/single.css'%}">
	<link href=" {% static 'ok/css/style.css'%}" rel='stylesheet' type='text/css' />
	<link href=" {% static '/ok/css/fontawesome-all.css'%}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'star-ratings/css/star-ratings.css' %}">

<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<style type="text/css">



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.sticky + .content {
  padding-top: 102px;
}
</style>
</head>

	<!--Header-->


	<!--//header-->
<body>
	<!--Header-->

	<header id="myHeader">
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a lass="navbar-brand" href="{% url 'index' %}">
						<i class="fa fa-book"></i> cHowTV</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Welcome {{user.username}}</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						{% if user.profile %}
						<a href="{% url 'profile' user.profile.id %}">
							<i class="fas fa-user"></i> View Your Profile</a>

						{% else %}
						<a href="{% url 'author' %}">
							<i class="fas fa-user"></i> Become an Author</a>
						
						{% endif %}
					</span>
					
				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="https://facebook.com/cHowTv1" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="https://twitter.com/cHowTv1" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="https://instagram.com/how_tv" class="dribble3 mx-2">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://api.whatsapp.com/+2348025729256" class="pin">
								<i class="fab fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ">
								<a class="nav-link" href="{% url 'index' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'upload' %}">Upload Book</a>
						</li>
				<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Become an Author
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								{% if user.profile %}

								<a class="dropdown-item" href="{% url 'profile' user.profile.id %}"><span> <i class="fas fa-lock"></i> </span> Author : {{ user.profile.authorName }} </a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'edit' %}"> Edit Your Profile </a>
			
								{% else %}
								<a class="dropdown-item" href="{% url 'author' %}"><span> <i class="fas fa-lock"></i> </span>Create Your Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'upload' %}"><span> <i class="far fa-user"></i> </span> Upload</a>
								{% endif %}
							</div>
						</li>
						
					</ul>

					<form action="{% url 'download' %}" method="post" class="form-inline my-2 my-lg-0 header-search"> 	{% csrf_token %}
						<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="bar" required="">
						<button class="btn btn1 my-2 my-sm-0" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>



				</div>
			</nav>

		</div>
	</header>
	<!--//header-->
	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a style="color: #333;" href="{% url 'index' %}">Home</a>
		</li>
		<li class="breadcrumb-item" >
		<a style="color: #333;" href="{% url 'create' %}">Write Novel</a>
	</li>
		<li class="breadcrumb-item active">Read Book</li>
	</ol>

	<!--//banner-->
	







<section class="main-content-w3layouts-agileits">
		<div class="container">
			{% if name and novel %}
			<h3 class="tittle"><span>B</span>ook <span>R</span>elating to '{{name}}'</h3> {% endif %}
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">
						{% if novel %}
						{% for book in novel %}
						<div class="col-lg-4 card">
							<a href="{% url 'index' %}">
								<img src="{{book.bookImage.url}}" class="card-img-top img-fluid" alt="">
							</a>
							</a>
							<div class="card-body">
								<h5 class="card-title ">
									<a href="{% url 'about_books' book.id %}"> {{ book.title | title }}</a>
								</h5>
								<ul class="blog-icons my-4">
									<li class="mx-2">
										by <a href="{% url 'profile' book.author.id %}">{{ book.author.authorName }}</a>

									</li>
									
										
										 
								                                                                                                                                              
									</ul>
									{% ratings book %}
								
								<p class="card-text mb-3">{{book.summary | safe | truncatewords:10 }} </p>

								<a href="{% url 'file' book.id|urlencode %}" class="btn btn-primary read-m"> <i class="fa fa-download"></i>Read Book</a>
							</div>
						</div>
					{% endfor %}
						{% endif %}
{% if novel.has_other_pages %}
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-left mt-4">
								{% if novel.has_previous %}
								<li class="page-item ">
									<a class="page-link" href="?page = {{novel.previous_page_number }}" tabindex="-1">Previous</a>
								</li>
								{% else %}
							
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								{% endif %}

								{% for i in novel.paginator.page_range %}
									{% if novel.number == i %}
								<li class="page-item active">
								<a class="page-link" href="#" >{{i}}</a>
								</li>
								{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{ i }}">{{i}}</a>
								</li>

								{% endif %}
								{% endfor %}


								{%  if novel.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{novel.next_page_number}}">Next</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{novel.paginator.num_pages}}">Last</a>
								</li>
								{%else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" >Next</a>
								</li>
								{% endif %}
							</ul>
							
						</nav></div>
						{% endif %}
	<div class="container">

			{% if name and story %}
			

			<h3 class="tittle"><span>S</span>orie(s) <span>R</span>elating to '{{ name }}'</h3> {% endif %}
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">
						{% if story %}
						{% for book in story %}
						<div class="col-lg-4 card">
							<a href="{% url 'index' %}">
								<img src="{{book.bookImage.url}}" class="card-img-top img-fluid" alt="">
							</a>
							</a>
							<div class="card-body">
								<h5 class="card-title ">
									<a href="{% url 'read' book.slug%}">{{ book.title | title}}</a>
									
								</h5>
								<ul class="blog-icons my-4">
									                                                                                                                                          
									<li class="mx-2">
										by <a href="{% url 'profile' book.author.id %}">{{ book.author.authorName }}</a>

									</li>
								
										
									

								</ul>

											 {% ratings book %}
								
								<p class="card-text mb-3">{{book.summary | safe | truncatewords:10 }} </p>
								<a href="{% url 'read' book.slug %}" class="btn btn-primary read-m"> <i class="fa fa-download"></i> Read</a>
							</div>
						</div>
					{% endfor %}
						{% endif %}
{% if novel.has_other_pages %}
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-left mt-4">
								{% if story.has_previous %}
								<li class="page-item ">
									<a class="page-link" href="?page = {{story.previous_page_number }}" tabindex="-1">Previous</a>
								</li>
								{% else %}
							
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								{% endif %}

								{% for i in story.paginator.page_range %}
									{% if story.number == i %}
								<li class="page-item active">
								<a class="page-link" href="#" >{{i}}</a>
								</li>
								{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{ i }}">{{i}}</a>
								</li>

								{% endif %}
								{% endfor %}


								{%  if story.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{story.next_page_number}}">Next</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{story.paginator.num_pages}}">Last</a>
								</li>
								{%else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" >Next</a>
								</li>
								{% endif %}
							</ul>
							
						</nav></div>
						{% endif %}

						<div class="container">



{% if genres and top %}
<h3 class="tittle"> {{ genres | title }} <span>N</span>ovels </h3>
<br><br>
{% elif top %} 
							<h3 class="tittle"> <span>P</span>opular <span>N</span>ovels</h3>
							<br><br>
							{% else %}

{% endif %}



<div class="row">
{% for popular in top %}

						<div class="col-lg-4 card my-lg-4 my-md-1 my-0">
							<a href="{% url 'index' %}">
								<img src="{{ popular.bookImage.url }}" class="card-img-top img-fluid" alt="">
							</a>
							<div class="card-body">
								<h5 class="card-title">
									<a href="{% url 'about_books' popular.id %}">{{ popular.title | title }}</a>
								</h5>

								<ul class="blog-icons my-2">
								<li >
									<a href="{% url 'profile' popular.author.id %}">
											by {{ popular.author.authorName }}</a>
									</li>

							
									

								</ul>
									 {% ratings popular %}
								<p class="card-text mb-3">{{popular.summary | truncatewords:10 | safe}}</p>
								
								

		<a href="{% url 'file' popular.id|urlencode %}" class="btn btn-primary read-m"> <i class="fa fa-book"></i>Read Online</a>
							</div>
						</div>
						
	{% endfor %}					
					
	</div>

					
						{% if top.has_other_pages %}
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-left mt-4">
								{% if top.has_previous %}
								<li class="page-item ">
									<a class="page-link" href="?page = {{top.previous_page_number }}" tabindex="-1">Previous</a>
								</li>
								{% else %}
							
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								{% endif %}

								{% for i in top.paginator.page_range %}
									{% if top.number == i %}
								<li class="page-item active">
								<a class="page-link" href="#" >{{i}}</a>
								</li>
								{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{ i }}">{{i}}</a>
								</li>

								{% endif %}
								{% endfor %}


								{%  if top.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{top.next_page_number}}">Next</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{top.paginator.num_pages}}">Last</a>
								</li>
								{%else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" >Next</a>
								</li>
								{% endif %}
							</ul>
							
						</nav>{% endif %}
</div>

<div class="container" style="text-align: center;">
		


{% if genre %} 
						<div class="tech-btm">
							<h3 class="title">
<strong>
	<span>G</span>enres
</strong>
</h3>
							<ul class="list-group single">
								 
								 {% for genres in genre %}
									<li class="list-group-item d-flex justify-content-between align-items-center">
									 <a href="{% url 'genre' genres.id %}"> {{ genres }} </a>
									  <span class="badge badge-primary badge-pill">{{genres.novel_set.count }} Novels </span><span class="badge badge-primary badge-pill">{{genres.novella_set.count}} Stories</span>
									</li>
									
									{% endfor %}
									
								  </ul>
						</div>{% endif %}





</div>

</div>




					
					<!--//left-->
				</div>
			</div>
		</div>
	</section>























































	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>About US</h3>
					<p>We offer you the opportunity to tap from this reforming resource from modern tech innovators in
creating facilitating and engaging educational experiences yet to be explored from the four walls
of the classroom....</p>
					<div class="read">
						<a href="{% url 'about'  %}" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					<div class="tech-btm">
						<h3>Latest Posts</h3>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'about'  %}">
									<img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index'  %}">Hello {{ user.get_username }} </a>
								</h5>
								
							</div>

						</div>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'index'%}">
									<img src="{% static 'images/4.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index' %}"> Checked out our courses yet ? {{ user.username }} </a>
								</h5>
								<div class="sub-meta">
									<span>
									
								</div>
							</div>

						</div>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'index'  %}">
									<img src="{% static 'images/2.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index'  %}"> We At cHowTV ......</a>
								</h5>
								<div class="sub-meta">
									<span>
										
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- subscribe -->
				
								<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
					<h2>Signup to our newsletter</h2>
					<div class="subscribe-main text-left">
						<div class="subscribe-form">
							<form enctype="multipart/form-data" action="/newsletter/novel/subscribe/" method="post" class="subscribe_form">
								{% csrf_token %}
								<input for="id_email_field" class="form-control" type="email" placeholder="Enter your email... " required=""  name="email_field" id="id_email_field">
								<button id="id_submit" value="Subscribe"  type="submit" class="btn btn-primary submit">Subscribe</button>
							</form>
							<div class="clearfix"> </div>
						</div>
						<p>Get Novels and Story updates!</p>
					</div>
</div>

				
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="https://facebook.com/cHowTv1">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://twitter.com/cHowTv1">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="https://instagram.com/how_tv">
									<i class="fab fa-instagram"></i>
									<span>Instagram</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://wa.me/+2348025729256">
									<i class="fab fa-whatsapp"></i>
									<span>WhatsApp</span>
								</a>
							</li>
						</ul>

					</div>
				</div>

			</div>

			<!-- //footer -->


		</div>
	</footer>

	
	<!---->
	<!-- js -->
	<script src=" {% static 'ok/js/jquery-2.2.3.min.js' %} "></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src=" {% static 'ok/js/move-top.js' %}  "></script>
	<script src=" {% static 'ok/js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src=" {% static 'ok/js/bootstrap.js' %}"></script>



</script>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>

</html>


