

<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
	<title> Course {{ name }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href=" {% static 'ok/css/bootstrap.css' %}"rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href=" {% static 'ok/css/single.css'%}">
	<link href=" {% static 'ok/css/style.css'%}" rel='stylesheet' type='text/css' />
	<link href=" {% static '/ok/css/fontawesome-all.css'%}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	    <script data-ad-client="ca-pub-2050126699734768" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f20848dc8bb2900121bf68a&product=inline-share-buttons" async="async"></script>
</head>

	<!--Header-->


	<!--//header-->
<body>
	<!--Header-->

	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="{% url 'index' %}">
						<i class="fa fa-book"></i> cHowTV</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Welcome {{ user.username | default:'Guest' }}!</span>
				
					
				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href=" https://facebook.com/cHowTv1" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href=" https://twitter.com/cHowTv1" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href=" https://instagram.com/how_tv" class="dribble3 mx-2">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href=" https://wa.me/+2348025729256" class="pin">
								<i class="fab fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ">
								<a class="nav-link" href="{% url 'index' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://seehowtv.blogspot.com">Blog</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Account
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								{% if user.is_authenticated %}

								<a class="dropdown-item" href="{% url 'index' %}"><span> <i class="fas fa-lock"></i> </span>{{ user.get_username }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
			
								{% else %}
								<a class="dropdown-item" href="{% url 'login' %}"><span> <i class="fas fa-lock"></i> </span>Login</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'register' %}"><span> <i class="far fa-user"></i> </span> Register</a>
								{% endif %}
							</div>
						</li>
						
					</ul>

					<form action="{% url 'display' %}" method="post" class="form-inline my-2 my-lg-0 header-search">
						{% csrf_token %}
						<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
						<button class="btn btn1 my-2 my-sm-0" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>



				</div>
			</nav>

		</div>
	</header>
	<!--//header-->
	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'index' %}">Home</a>
		</li>
		<li class="breadcrumb-item active">{{ name }}</li>
	</ol>
	<div class="container"> 

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog--><img src='{{ coursepage.tutor.image.url }}' style="border-radius: 50%; height: 50px; width: 50px; object-fit: cover; " 
		class="img-fluid img-circle img-profile" alt="">
		Tutor: {{ coursepage.tutor.user.username }}

		
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">

									
										
											

								<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							  <div class="carousel-inner">
							    <div class="carousel-item active">
							    

							    	<a href="#">
									{% for i in image %}
									<img src='{{ i.course_image.url }}' style="width: 900px; height: 500px;" class="img-fluid" alt="">
									{% endfor %}
								</a>


							    </div>
							    
							  </div>
							
							  <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next" href="#" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
								<div class="blog-info-middle">
								<ul>
									
									<li class="mx-2">
										<a href="#">
											<i class="far fa-user"></i> Tutor: {{ coursepage.tutor.user.username }} </a>
									</li>
									<li style="color: white;">
										 Follow Me on :
									</li>
									<li>
										<a href="https://instagram.com/{{ coursepage.tutor.instagram }}">
											<i class="fab fa-instagram"></i> </a>
									</li>

									<li>
										<a href="https://instagram.com/{{ coursepage.tutor.github }}">
											<i class="fab fa-github"></i> </a>
									</li>
									<li>
										<a href="https://twitter.com/{{ coursepage.tutor.twitter}}">
											<i class="fab fa-twitter"></i> </a>
									</li>
									

								</ul>
							</div>
							</div>
							
						</div>

						<h3>
							<a href="#"> {{ name }} </a>
						</h3>
						{% if description %}

						


						{{ description | safe  }}

						

						{% endif %}
						
					</div>
					<br><br>
					<div class="sharethis-inline-share-buttons"></div>


<br><br>
				
			<div class="title"><span>N</span>ext</div>
					
					{% for olamide in course %}

					<div class="list-group">
						
  <a href="{% url 'join'  course_page=olamide.id %}" class="list-group-item list-group-item-action ">
    {{ olamide.course_name.sel }}
  </a>
  

  
 
  
</div>

		{% endfor %}			

					

			
					
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
						    
							{% for i in image %}
							<img src='{{ image.course_image.url }}' class="img-fluid" alt="">
							{% endfor %}
						</div>
						



						<div class="tech-btm">
							<h4>Popular courses</h4>
							
							<ul class="list-group single">
								 {% if courses %} 
								 {% for course in courses %}
									<li class="list-group-item d-flex justify-content-between align-items-center">
									  {{ course }}
									  <span class="badge badge-primary badge-pill">4</span>
									</li>
									
									{% endfor %}
									{% endif %}
								  </ul>
						</div>
<div class="tech-btm">
							<h4>Registered courses</h4>
							
							<ul class="list-group single">
								 {% if user.registered_courses %} 
								 {% for i in ok %}
									<li class="list-group-item d-flex justify-content-between align-items-center">
									  
									  {{i}}

									  <span class="badge badge-primary badge-pill">14</span>
									</li>
								{% endfor %}
									{% endif %}
								  </ul>
						</div>

						<div class="single-gd tech-btm">
							<h4>Recent Courses</h4>
							 
{% if course %}
					{% for olamide in course %}

					<div class="list-group">
						
  <a href="{% url 'join'  course_page=olamide.id %}" style="color: #FEB103;" class="list-group-item list-group-item-action">
    <b>
    {{ olamide.course_name.sel }}
    </b>
  </a>
  {% endfor %}
  {% endif %}
  
						</div>	
							 {% if image %}
							 {% for image in image %}
							<div class="blog-grids">
								<div class="blog-grid-left">
									<a href="#">
										<img src="{{image.course_image.url}}" class="img-fluid" alt="">
									</a>
								</div>
								<div class="blog-grid-right">

									<h5>
										<a href="#">{{ image.title  }}</a>
									</h5>
								</div>
								<div class="clearfix"> </div>
							</div>
							{% endfor %}
							{% endif %}

						</div>
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

	<!--footer-->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>About US</h3>
					<p>We offer you the opportunity to tap from this reforming resource from modern tech innovators in
creating facilitating and engaging educational experiences yet to be explored from the four walls
of the classroom....</p>
					<div class="read">
						<a href="{% url 'about'  %}" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					<div class="tech-btm">
						<h3>Latest Posts</h3>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'about'  %}">
									<img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index'  %}">Hello {{ user.get_username }} </a>
								</h5>
								
							</div>

						</div>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'index'%}">
									<img src="{% static 'images/4.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index' %}"> Checked out our courses yet ? {{ user.username }} </a>
								</h5>
								<div class="sub-meta">
									<span>
									
								</div>
							</div>

						</div>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'index'  %}">
									<img src="{% static 'images/2.jpg' %}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'index'  %}"> We At cHowTV ......</a>
								</h5>
								<div class="sub-meta">
									<span>
										
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- subscribe -->
				
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="https://facebook.com/cHowTv1">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://twitter.com/cHowTv1">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="https://instagram.com/how_tv">
									<i class="fab fa-instagram"></i>
									<span>Instagram</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://wa.me/+2348025729256">
									<i class="fab fa-whatsapp"></i>
									<span>WhatsApp</span>
								</a>
							</li>
						</ul>

					</div>
				</div>

			</div>

			<!-- //footer -->


		</div>
	</footer>

	
	<!---->
	<!-- js -->
	<script src=" {% static 'ok/js/jquery-2.2.3.min.js' %} "></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src=" {% static 'ok/js/move-top.js' %}  "></script>
	<script src=" {% static 'ok/js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->
	

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src=" {% static 'ok/js/bootstrap.js' %}"></script>


</body>

</html>


