

    	{% extends "school/base.html" %}

{% block body %}
{% load crispy_forms_tags %}

	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span>| |</span>
				</li>
				<li>Upload Book</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<br>
		<br>
			


				<div class="alert alert-success" style="background-color: white"  role="alert">
  <h4 class="alert-heading"  style="color: #FEB103;"  > Hello! {{ user.username }}  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true" style="color:#FEB103;">&times;</span>
</button> </h4>
  <p>So, you just about to submitted your literary piece and want to be a registered author on chowTV, that is awesome, we are happy to have you with us, however as with any proper arrangement that wants to last there are a few guidelines, yes you have to read them, no it won't take long...
  	 <hr>
<p class="mb-0">No 1- Plagiarism is highly discouraged, if any literary piece submitted for review is discovered to have been plagiarised it will be disqualified immediately and if a person attempts to submit plagiarised work more than 3 times it would lead to a ban of that person's email from the site </p>
 <hr>
<p class="mb-0">No 2- As a registered author on the site you have the freedom to upload anything and at any time you want, so please use good judgement when uploading, uploading questionable content such as erotic pictures and magazines wouldn't be nice and would lead to a fitting punishment </p>
 <hr>
<p class="mb-0">No 3- Always remember to add appropriate genre labels to any content you upload, it makes it easier for readers to find
</p>
 <hr>
<p class="mb-0">No 4- If you're uploading a piece with an excerpt from another author please give due credit to the author, saves everyone a lot of stress </p>
</p>
  <hr>
  <p class="mb-0">Thanks.

<code class="language-js" data-lang="js"> Rhyne </code>


  </p>
</div>
	<div class="register-form-main">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>U</span>pload
					<span>B</span>ook
				</h3>



				<div class="tittle-style">

				</div>
			</div>
			</div>
			<div class="register-form">
				<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
					 {% csrf_token %}
				<div class="fields-grid">
			
							{{ book_form.title }}
													
						
							{{ book_form.isbn }}

								<br> 
								BookImage
								 <br><br>
							{{ book_form.bookImage }}
								<br> 
								Bookfile
								<br><br>
								{{ book_form.bookFile }}
								<br>
							
								
									<div class="col dropdown ">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle='dropdown'>
					Choose Genre	
						<span class="caret"></span>							

							</button>
							<div class="dropdown-menu"> 
					{{ book_form.genre }}
						
					</div>

							</div>
					
								<br> <br>
								<label class="header">Summary</label>
							{{ book_form.summary }}
						<div class="clearfix"> </div>
					
								<input type="submit" value="Submit">
				</form></div>
							<div class="form-group has-errors text-danger small">
								{% if error is not None %}

								{{ error }}
								{% endif %}

							</div>	
				
			</div>
		</div>




	</div>



<script >

$(".alert").alert('close')


</script>



	
	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- Calendar -->
	<link rel="stylesheet" href="static/css/jquery-ui.css" />
	<script src="static/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->
	{% endblock %}
