ola.json
wt_prod-19015/*
book/*
*.pdf
db.sqlite3
school/static/aline/*
school/static/wt_prod/*
school/static/newsletter/*
school/static/com/*
school/static/ok/*
school/static/ckeditor/*
school/static/prod/*
school/static/star-ratings/*
school/static/assets/*
*.zip